body{
  background: #4e957f;
}
.App {
  text-align: center;
}
.header-color{
  color: #fff;
}
.articleBg {
  background-color: #52796f;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.articleBg div {
  display: flex;
  align-items: center;
}


.articleBg .articleText {
  flex: 1;
  color: #d5d5d5;
}

h3.articleText{
  font-style: italic;
}



.articleBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.articleBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #00ff89;
  transition: transform .2s;
}
.articleText .description{
  color: #828282 ;
}

.articleBg .iconsWrap span:hover {
  transition: transform .2s;
  transform: scale(1.5)
}

.articleBg .iconsWrap .edit-article  {
  color: #a1d828;
}

.articleBg .iconsWrap .delete-article  {
  color: #a94848;
}

.articleBg .iconsWrap .delete-article span:hover {
  transform: scale(1.5);
  color: #860606;
}

.mr-20 {
  margin-right: 20px;
}

.modalComp-title{
  color: #4e957f;
}